@charset "utf-8";
/* 页头css*/
	      
*{ padding:0; margin:0; font-family:'微软雅黑'; font-size:14px; font-style:nome;text-decoration:none; list-style:none; font-weight:bold;}



header{ width:100%; height:119px; background:url(../images/02_02.png) repeat-x;float:left}
.head-01{ width:75%; margin:0 auto;}
.head-02{ width:40%; float:left;}
.head-02 a{ margin-left:30.4166%}
.head-03{ width:60%; float:left;}
.head-03 a{ color:#fff;}
.head-03 ul li{ float:left; margin-left:7.5%; line-height:119px;}
.head-03 a:hover{ color:#a7a6a6;}
#tou-01{ display:none;}

@media screen and (max-width: 1440px) {
header{ width:100%; height:119px; background:url(../images/02_02.png) repeat-x;float:left}
.head-01{ width:75%; margin:0 auto;}
.head-02{ width:40%; float:left;}
.head-02 a{ margin-left:30.4166%}
.head-03{ width:60%; float:left;}
.head-03 a{ color:#fff;}
.head-03 ul li{ float:left; margin-left:7.5%; line-height:119px;}
.head-03 a:hover{ color:#a7a6a6;}
header{ width:100%; height:119px; background:url(../images/02_02.png) repeat-x;float:left}
.head-01{ width:75%; margin:0 auto;}
.head-02{ width:40%; float:left;}
.head-02 a{ margin-left:30.4166%}
.head-03{ width:60%; float:left;}
.head-03 a{ color:#fff;}
.head-03 ul li{ float:left; margin-left:7.5%; line-height:119px;}
.head-03 a:hover{ color:#a7a6a6;}
#tou-01{ display:none;}
}
@media screen and (max-width: 1366px) {
header{ width:100%; height:119px; background:url(../images/02_02.png) repeat-x;float:left}
.head-01{ width:75%; margin:0 auto;}
.head-02{ width:40%; float:left;}
.head-02 a{ margin-left:30.4166%}
.head-03{ width:60%; float:left;}
.head-03 a{ color:#fff;}
.head-03 ul li{ float:left; margin-left:7.5%; line-height:119px;}
.head-03 a:hover{ color:#a7a6a6;}
#tou-01{ display:none;}
}
@media screen and (max-width: 1024px) {
header{ width:100%; height:119px; background:url(../images/02_02.png) repeat-x;float:left}
.head-01{ width:100%; margin:0 auto;}
.head-02{ width:40%; float:left;}
.head-02 a{ margin-left:30.4166%}
.head-03{ width:60%; float:left;}/*导航隐藏*/
.head-03 a{ color:#fff;}
.head-03 ul li{ float:left; margin-left:7.5%; line-height:119px;}
.head-03 a:hover{ color:#a7a6a6;}
#tou{ display:none;}
#tou-01{ display:block; margin-left:-20%; float:left;}
#cli{ width:50px; height:50px; margin-top:15px;}

.nav ul li a{ font-size:20px;}



.container{ width:640px; margin:0 auto; position:relative}	
body{background-size:cover;}

.header{ padding:20px 0; clear:both; overflow:hidden; position:relative;}
.logo{ float:left; width:150px;}
.navClick{ float:right; width:28px; cursor:pointer}
.wechat{position:absolute;right:45px;top:20px; width:88px; height:23px;}
.screen{ background:rgba(0,0,0,0.3); position:fixed;left:0;top:0;z-index:99998; width:100%; height:100%; display:none}
.screen_wechat{position:fixed;right:15px;top:50px;z-index:99999; background:url(../images/w8.jpg) no-repeat 0 0; background-size:143px 150px; width:143px; height:150px; transform:scale(1,0); transform-origin:top;-webkit-transform:scale(1,0); -webkit-transform-origin:top; opacity:0;}

/*右侧主导航*/
.navigation{ position:fixed; right:0; top:0;height:100%;
	transform:translateX(250px);
	-o-transform:translateX(250px);
	-moz-transform:translateX(250px);
	-ms-transform:translateX(250px);
	-webkit-transform:translateX(250px); 
	transition:all 0.3s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-moz-transition:all  0.3s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-ms-transition:all  0.3s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-o-transition:all  0.3s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-webkit-transition:all  0.3s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	z-index:99
}
.navigation .nav{ float:left; width:240px; height:100%; background-size:cover;}
.navigation .nav ul{ padding-top:0px;}
.navigation .nav ul li{ position:relative;width:100%; height:70px; border-top:2px solid #29334a;background:#000;}
.navigation .nav ul li span{ position:absolute; display:none; z-index:10}
.navigation .nav ul li a{ text-indent:10px; color:#ffffff; display:block; height:100%;font-size:24px; line-height:70px;}
.navigation .nav ul .first a,.navigation .nav ul li:nth-child(4) a,.navigation .nav ul li:nth-child(5) a,.navigation .nav ul li:nth-child(7) a,.navigation .nav ul .last a{ background:none;}
.navigation .nav ul .on a{ background:#f39800 url(../images/index1/icon_jian.png) no-repeat 115px center;}
.navigation .nav ul .on span{ display:inline-block;left:-5px; top:15px; width:5px; height:10px; background:url(../images/index1/icon_jiao.png) no-repeat; background-size:5px 10px; } 


.navigation .menu{ float:right; width:110px; height:100%; background: url(../images/index1/menu_bj.png) repeat-y 0 0; display:none;}
.navigation .menu_bg{background: url(../images/index1/menu_bg.png) repeat 0 0;height:100%; position:relative}
.navigation .menu_bg ul{ position:absolute; left:0; top:60px; width:100%; display:none;}
.navigation .menu_bg ul li{ height:40px; line-height:40px;}
.navigation .menu_bg ul li a{ display:inline-block; width:100%; height:100%; line-height:40px; background:rgba(0,0,0,0.3); color:#ffffff; text-indent:15px;}
/*右侧主导航*/


.container{
	padding:0 15px;
	transform:translateX(0px);
	-moz-transform:translateX(0px); 
	-ms-transform:translateX(0px); 
	-o-transform:translateX(0px); 
	-webkit-transform:translateX(0px); 
	transition:all  0.3s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-moz-transition:all  0.3s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-ms-transition:all  0.3s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-o-transition:all  0.3s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-webkit-transition:all  0.3s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	height:100%;}

/*滑出右侧导航*/
.body_Skin .container{
	transform:translateX(-400px);
	-o-transform:translateX(-400px);
	-moz-transform:translateX(-400px);
	-ms-transform:translateX(-400px);
	-webkit-transform:translateX(-200px); 
	transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-moz-transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-ms-transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-o-transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-webkit-transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
}
/*.addBody_Skin .container{
	transform:translateX(-250px);
	-o-transform:translateX(-250px);
	-moz-transform:translateX(-250px);
	-ms-transform:translateX(-250px);
	-webkit-transform:translateX(-250px); 
	transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-moz-transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-ms-transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-o-transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-webkit-transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
}*/
.body_Skin .navigation{ 
	transform:translateX(0px);
	-moz-transform:translateX(0px); 
	-ms-transform:translateX(0px); 
	-o-transform:translateX(0px); 
	-webkit-transform:translateX(0px); 
	transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-moz-transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-ms-transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-o-transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-webkit-transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
}

.footer{ padding:10px 0 20px 0; position:relative}
.footer p{ font-size:12px; color:#ffffff; padding-left:20px;}
.footer a.reenoo{ position:absolute; right:20px; top:10px; font-size:12px; color:#ffffff;}

/*整站编辑器*/
.Pasual{ line-height:22px;}
.Pasual p{ line-height:22px; margin-bottom:15px; color:#a1a2a3}
}
@media screen and (max-width: 768px) {
header{ width:100%; height:119px; background:url(../images/02_02.png) repeat-x;float:left}
.head-01{ width:100%; margin:0 auto;}
.head-02{ width:40%; float:left;}
.head-02 a{ margin-left:30.4166%}
.head-03{ width:60%; float:left;}/*导航隐藏*/
.head-03 a{ color:#fff;}
.head-03 ul li{ float:left; margin-left:7.5%; line-height:119px;}
.head-03 a:hover{ color:#a7a6a6;}
#tou{ display:none;}
#tou-01{ display:block; margin-left:-50%; float:left;}
#cli{ width:50px; height:50px; margin-top:15px;}

.nav ul li a{ font-size:20px;}



.container{ width:640px; margin:0 auto; position:relative}	
body{background-size:cover;}

.header{ padding:20px 0; clear:both; overflow:hidden; position:relative;}
.logo{ float:left; width:150px;}
.navClick{ float:right; width:28px; cursor:pointer}
.wechat{position:absolute;right:45px;top:20px; width:88px; height:23px;}
.screen{ background:rgba(0,0,0,0.3); position:fixed;left:0;top:0;z-index:99998; width:100%; height:100%; display:none}
.screen_wechat{position:fixed;right:15px;top:50px;z-index:99999; background:url(../images/w8.jpg) no-repeat 0 0; background-size:143px 150px; width:143px; height:150px; transform:scale(1,0); transform-origin:top;-webkit-transform:scale(1,0); -webkit-transform-origin:top; opacity:0;}

/*右侧主导航*/
.navigation{ position:fixed; right:0; top:0;height:100%;
	transform:translateX(250px);
	-o-transform:translateX(250px);
	-moz-transform:translateX(250px);
	-ms-transform:translateX(250px);
	-webkit-transform:translateX(250px); 
	transition:all 0.3s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-moz-transition:all  0.3s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-ms-transition:all  0.3s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-o-transition:all  0.3s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-webkit-transition:all  0.3s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	z-index:99
}
.navigation .nav{ float:left; width:240px; height:100%; background-size:cover;}
.navigation .nav ul{ padding-top:0px;}
.navigation .nav ul li{ position:relative;width:100%; height:70px; border-top:2px solid #29334a;background:#000;}
.navigation .nav ul li span{ position:absolute; display:none; z-index:10}
.navigation .nav ul li a{ text-indent:10px; color:#ffffff; display:block; height:100%;font-size:22px; line-height:70px;}
.navigation .nav ul .first a,.navigation .nav ul li:nth-child(4) a,.navigation .nav ul li:nth-child(5) a,.navigation .nav ul li:nth-child(7) a,.navigation .nav ul .last a{ background:none;}
.navigation .nav ul .on a{ background:#f39800 url(../images/index1/icon_jian.png) no-repeat 115px center;}
.navigation .nav ul .on span{ display:inline-block;left:-5px; top:15px; width:5px; height:10px; background:url(../images/index1/icon_jiao.png) no-repeat; background-size:5px 10px; } 


.navigation .menu{ float:right; width:110px; height:100%; background: url(../images/index1/menu_bj.png) repeat-y 0 0; display:none;}
.navigation .menu_bg{background: url(../images/index1/menu_bg.png) repeat 0 0;height:100%; position:relative}
.navigation .menu_bg ul{ position:absolute; left:0; top:60px; width:100%; display:none;}
.navigation .menu_bg ul li{ height:40px; line-height:40px;}
.navigation .menu_bg ul li a{ display:inline-block; width:100%; height:100%; line-height:40px; background:rgba(0,0,0,0.3); color:#ffffff; text-indent:15px;}
/*右侧主导航*/


.container{
	padding:0 15px;
	transform:translateX(0px);
	-moz-transform:translateX(0px); 
	-ms-transform:translateX(0px); 
	-o-transform:translateX(0px); 
	-webkit-transform:translateX(0px); 
	transition:all  0.3s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-moz-transition:all  0.3s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-ms-transition:all  0.3s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-o-transition:all  0.3s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-webkit-transition:all  0.3s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	height:100%;}

/*滑出右侧导航*/
.body_Skin .container{
	transform:translateX(-400px);
	-o-transform:translateX(-400px);
	-moz-transform:translateX(-400px);
	-ms-transform:translateX(-400px);
	-webkit-transform:translateX(-200px); 
	transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-moz-transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-ms-transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-o-transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-webkit-transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
}
/*.addBody_Skin .container{
	transform:translateX(-250px);
	-o-transform:translateX(-250px);
	-moz-transform:translateX(-250px);
	-ms-transform:translateX(-250px);
	-webkit-transform:translateX(-250px); 
	transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-moz-transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-ms-transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-o-transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-webkit-transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
}*/
.body_Skin .navigation{ 
	transform:translateX(0px);
	-moz-transform:translateX(0px); 
	-ms-transform:translateX(0px); 
	-o-transform:translateX(0px); 
	-webkit-transform:translateX(0px); 
	transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-moz-transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-ms-transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-o-transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-webkit-transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
}

.footer{ padding:10px 0 20px 0; position:relative}
.footer p{ font-size:12px; color:#ffffff; padding-left:20px;}
.footer a.reenoo{ position:absolute; right:20px; top:10px; font-size:12px; color:#ffffff;}

/*整站编辑器*/
.Pasual{ line-height:22px;}
.Pasual p{ line-height:22px; margin-bottom:15px; color:#a1a2a3}
}
@media screen and (max-width: 480px) {
header{ width:100%; height:119px; background:url(../images/02_02.png) repeat-x;float:left}
.head-01{ width:100%; margin:0 auto;}
.head-02{ width:40%; float:left;}
.head-02 a{ margin-left:30.4166%}
.head-03{ width:60%; float:left;}/*导航隐藏*/
.head-03 a{ color:#fff;}
.head-03 ul li{ float:left; margin-left:7.5%; line-height:119px;}
.head-03 a:hover{ color:#a7a6a6;}
#hea{ width:60%;}
#tou{ display:none;}
#tou-01{ display:block; margin-left:-10%; float:left;}
#cli{ width:50px; height:50px; margin-top:15px;}

.nav ul li a{ font-size:20px;}



.container{ width:250px; margin:0 auto; position:relative}	
body{background-size:cover;}

.header{ padding:20px 0; clear:both; overflow:hidden; position:relative;}
.logo{ float:left; width:150px;}
.navClick{ float:right; width:28px; cursor:pointer}
.wechat{position:absolute;right:45px;top:20px; width:88px; height:23px;}
.screen{ background:rgba(0,0,0,0.3); position:fixed;left:0;top:0;z-index:99998; width:100%; height:100%; display:none}
.screen_wechat{position:fixed;right:15px;top:50px;z-index:99999; background:url(../images/w8.jpg) no-repeat 0 0; background-size:143px 150px; width:143px; height:150px; transform:scale(1,0); transform-origin:top;-webkit-transform:scale(1,0); -webkit-transform-origin:top; opacity:0;}

/*右侧主导航*/
.navigation{ position:fixed; right:0; top:0;height:100%;
	transform:translateX(150px);
	-o-transform:translateX(150px);
	-moz-transform:translateX(150px);
	-ms-transform:translateX(150px);
	-webkit-transform:translateX(150px); 
	transition:all 0.3s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-moz-transition:all  0.3s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-ms-transition:all  0.3s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-o-transition:all  0.3s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-webkit-transition:all  0.3s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	z-index:99
}
.navigation .nav{ float:left; width:140px; height:100%; background-size:cover;}
.navigation .nav ul{ padding-top:0px;}
.navigation .nav ul li{ position:relative;width:100%; height:50px; border-top:2px solid #29334a;background:#000;}
.navigation .nav ul li span{ position:absolute; display:none; z-index:10}
.navigation .nav ul li a{ text-indent:10px; color:#ffffff; display:block; height:100%;font-size:14px; line-height:50px;}
.navigation .nav ul .first a,.navigation .nav ul li:nth-child(4) a,.navigation .nav ul li:nth-child(5) a,.navigation .nav ul li:nth-child(7) a,.navigation .nav ul .last a{ background:none;}
.navigation .nav ul .on a{ background:#f39800 url(../images/index1/icon_jian.png) no-repeat 115px center;}
.navigation .nav ul .on span{ display:inline-block;left:-5px; top:15px; width:5px; height:10px; background:url(../images/index1/icon_jiao.png) no-repeat; background-size:5px 10px; } 


.navigation .menu{ float:right; width:110px; height:100%; background: url(../images/index1/menu_bj.png) repeat-y 0 0; display:none;}
.navigation .menu_bg{background: url(../images/index1/menu_bg.png) repeat 0 0;height:100%; position:relative}
.navigation .menu_bg ul{ position:absolute; left:0; top:60px; width:100%; display:none;}
.navigation .menu_bg ul li{ height:40px; line-height:40px;}
.navigation .menu_bg ul li a{ display:inline-block; width:100%; height:100%; line-height:40px; background:rgba(0,0,0,0.3); color:#ffffff; text-indent:15px;}
/*右侧主导航*/


.container{
	padding:0 15px;
	transform:translateX(0px);
	-moz-transform:translateX(0px); 
	-ms-transform:translateX(0px); 
	-o-transform:translateX(0px); 
	-webkit-transform:translateX(0px); 
	transition:all  0.3s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-moz-transition:all  0.3s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-ms-transition:all  0.3s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-o-transition:all  0.3s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-webkit-transition:all  0.3s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	height:100%;}

/*滑出右侧导航*/
.body_Skin .container{
	transform:translateX(-120px);
	-o-transform:translateX(-120px);
	-moz-transform:translateX(-120px);
	-ms-transform:translateX(-120px);
	-webkit-transform:translateX(-120px); 
	transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-moz-transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-ms-transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-o-transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-webkit-transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
}
/*.addBody_Skin .container{
	transform:translateX(-250px);
	-o-transform:translateX(-250px);
	-moz-transform:translateX(-250px);
	-ms-transform:translateX(-250px);
	-webkit-transform:translateX(-250px); 
	transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-moz-transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-ms-transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-o-transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-webkit-transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
}*/
.body_Skin .navigation{ 
	transform:translateX(0px);
	-moz-transform:translateX(0px); 
	-ms-transform:translateX(0px); 
	-o-transform:translateX(0px); 
	-webkit-transform:translateX(0px); 
	transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-moz-transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-ms-transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-o-transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-webkit-transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
}

.footer{ padding:10px 0 20px 0; position:relative}
.footer p{ font-size:12px; color:#ffffff; padding-left:20px;}
.footer a.reenoo{ position:absolute; right:20px; top:10px; font-size:12px; color:#ffffff;}

/*整站编辑器*/
.Pasual{ line-height:22px;}
.Pasual p{ line-height:22px; margin-bottom:15px; color:#a1a2a3}
}
@media screen and (max-width: 420px) {
header{ width:100%; height:119px; background:url(../images/02_02.png) repeat-x;float:left}
.head-01{ width:100%; margin:0 auto;}
.head-02{ width:40%; float:left;}
.head-02 a{ margin-left:30.4166%}
.head-03{ width:60%; float:left;}/*导航隐藏*/
.head-03 a{ color:#fff;}
.head-03 ul li{ float:left; margin-left:7.5%; line-height:119px;}
.head-03 a:hover{ color:#a7a6a6;}
#hea{ width:70%;}
#tou{ display:none;}
#tou-01{ display:block; margin-left:-25%; float:left;}
#cli{ width:50px; height:50px; margin-top:15px;}

.nav ul li a{ font-size:20px;}



.container{ width:250px; margin:0 auto; position:relative}	
body{background-size:cover;}

.header{ padding:20px 0; clear:both; overflow:hidden; position:relative;}
.logo{ float:left; width:150px;}
.navClick{ float:right; width:28px; cursor:pointer}
.wechat{position:absolute;right:45px;top:20px; width:88px; height:23px;}
.screen{ background:rgba(0,0,0,0.3); position:fixed;left:0;top:0;z-index:99998; width:100%; height:100%; display:none}
.screen_wechat{position:fixed;right:15px;top:50px;z-index:99999; background:url(../images/w8.jpg) no-repeat 0 0; background-size:143px 150px; width:143px; height:150px; transform:scale(1,0); transform-origin:top;-webkit-transform:scale(1,0); -webkit-transform-origin:top; opacity:0;}

/*右侧主导航*/
.navigation{ position:fixed; right:0; top:0;height:100%;
	transform:translateX(150px);
	-o-transform:translateX(150px);
	-moz-transform:translateX(150px);
	-ms-transform:translateX(150px);
	-webkit-transform:translateX(150px); 
	transition:all 0.3s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-moz-transition:all  0.3s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-ms-transition:all  0.3s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-o-transition:all  0.3s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-webkit-transition:all  0.3s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	z-index:99
}
.navigation .nav{ float:left; width:140px; height:100%; background-size:cover;}
.navigation .nav ul{ padding-top:0px;}
.navigation .nav ul li{ position:relative;width:100%; height:50px; border-top:2px solid #29334a;background:#000;}
.navigation .nav ul li span{ position:absolute; display:none; z-index:10}
.navigation .nav ul li a{ text-indent:10px; color:#ffffff; display:block; height:100%;font-size:14px; line-height:50px;}
.navigation .nav ul .first a,.navigation .nav ul li:nth-child(4) a,.navigation .nav ul li:nth-child(5) a,.navigation .nav ul li:nth-child(7) a,.navigation .nav ul .last a{ background:none;}
.navigation .nav ul .on a{ background:#f39800 url(../images/index1/icon_jian.png) no-repeat 115px center;}
.navigation .nav ul .on span{ display:inline-block;left:-5px; top:15px; width:5px; height:10px; background:url(../images/index1/icon_jiao.png) no-repeat; background-size:5px 10px; } 


.navigation .menu{ float:right; width:110px; height:100%; background: url(../images/index1/menu_bj.png) repeat-y 0 0; display:none;}
.navigation .menu_bg{background: url(../images/index1/menu_bg.png) repeat 0 0;height:100%; position:relative}
.navigation .menu_bg ul{ position:absolute; left:0; top:60px; width:100%; display:none;}
.navigation .menu_bg ul li{ height:40px; line-height:40px;}
.navigation .menu_bg ul li a{ display:inline-block; width:100%; height:100%; line-height:40px; background:rgba(0,0,0,0.3); color:#ffffff; text-indent:15px;}
/*右侧主导航*/


.container{
	padding:0 15px;
	transform:translateX(0px);
	-moz-transform:translateX(0px); 
	-ms-transform:translateX(0px); 
	-o-transform:translateX(0px); 
	-webkit-transform:translateX(0px); 
	transition:all  0.3s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-moz-transition:all  0.3s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-ms-transition:all  0.3s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-o-transition:all  0.3s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-webkit-transition:all  0.3s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	height:100%;}

/*滑出右侧导航*/
.body_Skin .container{
	transform:translateX(-120px);
	-o-transform:translateX(-120px);
	-moz-transform:translateX(-120px);
	-ms-transform:translateX(-120px);
	-webkit-transform:translateX(-120px); 
	transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-moz-transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-ms-transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-o-transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-webkit-transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
}
/*.addBody_Skin .container{
	transform:translateX(-250px);
	-o-transform:translateX(-250px);
	-moz-transform:translateX(-250px);
	-ms-transform:translateX(-250px);
	-webkit-transform:translateX(-250px); 
	transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-moz-transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-ms-transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-o-transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-webkit-transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
}*/
.body_Skin .navigation{ 
	transform:translateX(0px);
	-moz-transform:translateX(0px); 
	-ms-transform:translateX(0px); 
	-o-transform:translateX(0px); 
	-webkit-transform:translateX(0px); 
	transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-moz-transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-ms-transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-o-transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-webkit-transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
}

.footer{ padding:10px 0 20px 0; position:relative}
.footer p{ font-size:12px; color:#ffffff; padding-left:20px;}
.footer a.reenoo{ position:absolute; right:20px; top:10px; font-size:12px; color:#ffffff;}

/*整站编辑器*/
.Pasual{ line-height:22px;}
.Pasual p{ line-height:22px; margin-bottom:15px; color:#a1a2a3}
}
@media screen and (max-width: 360px) {
header{ width:100%; height:119px; background:url(../images/02_02.png) repeat-x;float:left}
.head-01{ width:100%; margin:0 auto;}
.head-02{ width:40%; float:left;}
.head-02 a{ margin-left:30.4166%}
.head-03{ width:60%; float:left;}/*导航隐藏*/
.head-03 a{ color:#fff;}
.head-03 ul li{ float:left; margin-left:7.5%; line-height:119px;}
.head-03 a:hover{ color:#a7a6a6;}
#hea{ width:70%; margin-top:10%;}
#tou{ display:none;}
#tou-01{ display:block; margin-left:-35%; float:left;}
#cli{ width:50px; height:50px; margin-top:15px;}

.nav ul li a{ font-size:20px;}



.container{ width:250px; margin:0 auto; position:relative}	
body{background-size:cover;}

.header{ padding:20px 0; clear:both; overflow:hidden; position:relative;}
.logo{ float:left; width:150px;}
.navClick{ float:right; width:28px; cursor:pointer}
.wechat{position:absolute;right:45px;top:20px; width:88px; height:23px;}
.screen{ background:rgba(0,0,0,0.3); position:fixed;left:0;top:0;z-index:99998; width:100%; height:100%; display:none}
.screen_wechat{position:fixed;right:15px;top:50px;z-index:99999; background:url(../images/w8.jpg) no-repeat 0 0; background-size:143px 150px; width:143px; height:150px; transform:scale(1,0); transform-origin:top;-webkit-transform:scale(1,0); -webkit-transform-origin:top; opacity:0;}

/*右侧主导航*/
.navigation{ position:fixed; right:0; top:0;height:100%;
	transform:translateX(150px);
	-o-transform:translateX(150px);
	-moz-transform:translateX(150px);
	-ms-transform:translateX(150px);
	-webkit-transform:translateX(150px); 
	transition:all 0.3s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-moz-transition:all  0.3s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-ms-transition:all  0.3s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-o-transition:all  0.3s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-webkit-transition:all  0.3s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	z-index:99
}
.navigation .nav{ float:left; width:140px; height:100%; background-size:cover;}
.navigation .nav ul{ padding-top:0px;}
.navigation .nav ul li{ position:relative;width:100%; height:50px; border-top:2px solid #29334a;background:#000;}
.navigation .nav ul li span{ position:absolute; display:none; z-index:10}
.navigation .nav ul li a{ text-indent:10px; color:#ffffff; display:block; height:100%;font-size:14px; line-height:50px;}
.navigation .nav ul .first a,.navigation .nav ul li:nth-child(4) a,.navigation .nav ul li:nth-child(5) a,.navigation .nav ul li:nth-child(7) a,.navigation .nav ul .last a{ background:none;}
.navigation .nav ul .on a{ background:#f39800 url(../images/index1/icon_jian.png) no-repeat 115px center;}
.navigation .nav ul .on span{ display:inline-block;left:-5px; top:15px; width:5px; height:10px; background:url(../images/index1/icon_jiao.png) no-repeat; background-size:5px 10px; } 


.navigation .menu{ float:right; width:110px; height:100%; background: url(../images/index1/menu_bj.png) repeat-y 0 0; display:none;}
.navigation .menu_bg{background: url(../images/index1/menu_bg.png) repeat 0 0;height:100%; position:relative}
.navigation .menu_bg ul{ position:absolute; left:0; top:60px; width:100%; display:none;}
.navigation .menu_bg ul li{ height:40px; line-height:40px;}
.navigation .menu_bg ul li a{ display:inline-block; width:100%; height:100%; line-height:40px; background:rgba(0,0,0,0.3); color:#ffffff; text-indent:15px;}
/*右侧主导航*/


.container{
	padding:0 15px;
	transform:translateX(0px);
	-moz-transform:translateX(0px); 
	-ms-transform:translateX(0px); 
	-o-transform:translateX(0px); 
	-webkit-transform:translateX(0px); 
	transition:all  0.3s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-moz-transition:all  0.3s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-ms-transition:all  0.3s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-o-transition:all  0.3s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-webkit-transition:all  0.3s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	height:100%;}

/*滑出右侧导航*/
.body_Skin .container{
	transform:translateX(-120px);
	-o-transform:translateX(-120px);
	-moz-transform:translateX(-120px);
	-ms-transform:translateX(-120px);
	-webkit-transform:translateX(-120px); 
	transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-moz-transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-ms-transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-o-transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-webkit-transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
}
/*.addBody_Skin .container{
	transform:translateX(-250px);
	-o-transform:translateX(-250px);
	-moz-transform:translateX(-250px);
	-ms-transform:translateX(-250px);
	-webkit-transform:translateX(-250px); 
	transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-moz-transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-ms-transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-o-transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-webkit-transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
}*/
.body_Skin .navigation{ 
	transform:translateX(0px);
	-moz-transform:translateX(0px); 
	-ms-transform:translateX(0px); 
	-o-transform:translateX(0px); 
	-webkit-transform:translateX(0px); 
	transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-moz-transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-ms-transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-o-transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-webkit-transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
}

.footer{ padding:10px 0 20px 0; position:relative}
.footer p{ font-size:12px; color:#ffffff; padding-left:20px;}
.footer a.reenoo{ position:absolute; right:20px; top:10px; font-size:12px; color:#ffffff;}

/*整站编辑器*/
.Pasual{ line-height:22px;}
.Pasual p{ line-height:22px; margin-bottom:15px; color:#a1a2a3}
}
@media screen and (max-width: 320px) {
header{ width:100%; height:119px; background:url(../images/02_02.png) repeat-x;float:left}
.head-01{ width:100%; margin:0 auto;}
.head-02{ width:40%; float:left;}
.head-02 a{ margin-left:30.4166%}
.head-03{ width:60%; float:left;}/*导航隐藏*/
.head-03 a{ color:#fff;}
.head-03 ul li{ float:left; margin-left:7.5%; line-height:119px;}
.head-03 a:hover{ color:#a7a6a6;}
#hea{ width:80%; margin-top:10%;}
#tou{ display:none;}
#tou-01{ display:block; margin-left:-25%; float:left;}
#cli{ width:50px; height:50px; margin-top:15px;}

.nav ul li a{ font-size:20px;}



.container{ width:200px; margin:0 auto; position:relative}	
body{background-size:cover;}

.header{ padding:20px 0; clear:both; overflow:hidden; position:relative;}
.logo{ float:left; width:150px;}
.navClick{ float:right; width:28px; cursor:pointer}
.wechat{position:absolute;right:45px;top:20px; width:88px; height:23px;}
.screen{ background:rgba(0,0,0,0.3); position:fixed;left:0;top:0;z-index:99998; width:100%; height:100%; display:none}
.screen_wechat{position:fixed;right:15px;top:50px;z-index:99999; background:url(../images/w8.jpg) no-repeat 0 0; background-size:143px 150px; width:143px; height:150px; transform:scale(1,0); transform-origin:top;-webkit-transform:scale(1,0); -webkit-transform-origin:top; opacity:0;}

/*右侧主导航*/
.navigation{ position:fixed; right:0; top:0;height:100%;
	transform:translateX(150px);
	-o-transform:translateX(150px);
	-moz-transform:translateX(150px);
	-ms-transform:translateX(150px);
	-webkit-transform:translateX(150px); 
	transition:all 0.3s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-moz-transition:all  0.3s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-ms-transition:all  0.3s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-o-transition:all  0.3s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-webkit-transition:all  0.3s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	z-index:99
}
.navigation .nav{ float:left; width:140px; height:100%; background-size:cover;}
.navigation .nav ul{ padding-top:0px;}
.navigation .nav ul li{ position:relative;width:100%; height:50px; border-top:2px solid #29334a;background:#000;}
.navigation .nav ul li span{ position:absolute; display:none; z-index:10}
.navigation .nav ul li a{ text-indent:10px; color:#ffffff; display:block; height:100%;font-size:14px; line-height:50px;}
.navigation .nav ul .first a,.navigation .nav ul li:nth-child(4) a,.navigation .nav ul li:nth-child(5) a,.navigation .nav ul li:nth-child(7) a,.navigation .nav ul .last a{ background:none;}
.navigation .nav ul .on a{ background:#f39800 url(../images/index1/icon_jian.png) no-repeat 115px center;}
.navigation .nav ul .on span{ display:inline-block;left:-5px; top:15px; width:5px; height:10px; background:url(../images/index1/icon_jiao.png) no-repeat; background-size:5px 10px; } 


.navigation .menu{ float:right; width:110px; height:100%; background: url(../images/index1/menu_bj.png) repeat-y 0 0; display:none;}
.navigation .menu_bg{background: url(../images/index1/menu_bg.png) repeat 0 0;height:100%; position:relative}
.navigation .menu_bg ul{ position:absolute; left:0; top:60px; width:100%; display:none;}
.navigation .menu_bg ul li{ height:40px; line-height:40px;}
.navigation .menu_bg ul li a{ display:inline-block; width:100%; height:100%; line-height:40px; background:rgba(0,0,0,0.3); color:#ffffff; text-indent:15px;}
/*右侧主导航*/


.container{
	padding:0 15px;
	transform:translateX(0px);
	-moz-transform:translateX(0px); 
	-ms-transform:translateX(0px); 
	-o-transform:translateX(0px); 
	-webkit-transform:translateX(0px); 
	transition:all  0.3s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-moz-transition:all  0.3s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-ms-transition:all  0.3s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-o-transition:all  0.3s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-webkit-transition:all  0.3s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	height:100%;}

/*滑出右侧导航*/
.body_Skin .container{
	transform:translateX(-120px);
	-o-transform:translateX(-120px);
	-moz-transform:translateX(-120px);
	-ms-transform:translateX(-120px);
	-webkit-transform:translateX(-120px); 
	transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-moz-transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-ms-transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-o-transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-webkit-transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
}
/*.addBody_Skin .container{
	transform:translateX(-250px);
	-o-transform:translateX(-250px);
	-moz-transform:translateX(-250px);
	-ms-transform:translateX(-250px);
	-webkit-transform:translateX(-250px); 
	transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-moz-transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-ms-transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-o-transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-webkit-transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
}*/
.body_Skin .navigation{ 
	transform:translateX(0px);
	-moz-transform:translateX(0px); 
	-ms-transform:translateX(0px); 
	-o-transform:translateX(0px); 
	-webkit-transform:translateX(0px); 
	transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-moz-transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-ms-transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-o-transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
	-webkit-transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0ms;
}

.footer{ padding:10px 0 20px 0; position:relative}
.footer p{ font-size:12px; color:#ffffff; padding-left:20px;}
.footer a.reenoo{ position:absolute; right:20px; top:10px; font-size:12px; color:#ffffff;}

/*整站编辑器*/
.Pasual{ line-height:22px;}
.Pasual p{ line-height:22px; margin-bottom:15px; color:#a1a2a3}
}
