@charset "utf-8";

*{ margin:0; padding:0; list-style:none; text-decoration: none; font-size: 14px; font-family: "微软雅黑";  }

ul, li, dl, dd, h1, h2, h3, h4, h5, h6, form, p { padding: 0; margin: 0; }

ul, li { list-style: none; }




/*@font-face { font-family: 'miso-bold'; src: url('font/miso-bold.eot'); src: local('miso-bold'), url('font/miso-bold_0.ttf'); }*/

.row:after {
clear: both;
}
.row:before, .row:after {
display: table;
content: " ";
}

.fl{ float:left;}
.fr{ float:right;}
.pad15{ padding:15px;}
.mar15{ margin:0 15px;}
.ren{ width:100%; float:left;}
.ren-01{ width:80%; margin:0 auto; padding-top:5.5%;}